:root {
  --card_size: 25vh;
  --value_top_position: calc(var(--card_size)*0.05);
  --suit_left_position: calc(var(--card_size)*0.05);
  --suit_top_position: calc(var(--card_size)*0.165);
}

*, html, body, h1, h2, h3, h4, h5, h6, a, img, ul, ol, li, div, span, b, time, mark,
u, p, input, label, textarea, select, option {
  margin: 0;
  padding: 0;
  position: relative;
  border: 0;
  vertical-align: top;
  z-index: auto;
  box-sizing: border-box;
  transition: 1s ease-in-out;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #282b2f;
}

.board {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

svg * {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.body svg {
  height: var(--card_size);
}

.body svg rect {
  width: 100%;
  height: 100%;
  fill: white;
  stroke: black;
  stroke-width: 0.2vh;
}

.suit,
.value,
.middle,
.big_pic {
  position: absolute;
}

.suit.top {
  top: var(--suit_top_position);
  left: var(--suit_left_position);
}

.suit.bottom {
  bottom: var(--suit_top_position);
  right: var(--suit_left_position);
  transform: rotateX(180deg);
}

.suit svg {
  height: calc(var(--card_size)*0.09);
}

.value.top {
  top: var(--value_top_position);
  left: var(--suit_left_position);
}

.value.bottom {
  bottom: var(--value_top_position);
  right: var(--suit_left_position);
  transform: rotateY(180deg) rotateX(180deg);
}

.value,
.suit {
  width: calc(var(--card_size)*0.09);
  display: flex;
  justify-content: center;
}

.value svg {
  height: calc(var(--card_size)*0.1);
}

.middle,
.big_pic {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}

.middle svg {
  height: calc(var(--card_size)*0.45);
  padding: 0.15vh;
}

.middle .big_pic.king svg,
.middle .big_pic.queen svg,
.middle .big_pic.jack svg  {
  stroke: black;
  stroke-width: 0.05vh;
}

.suit svg,
.value svg,
.middle svg {
  display: none;
}

.card.hearts .suit .hearts svg,
.card.diamonds .suit .diamonds svg,
.card.spades .suit .spades svg,
.card.clubs .suit .clubs svg {
  display: block;
}

.card.ace .value .ace svg,
.card.jack .value .jack svg,
.card.queen .value .queen svg,
.card.king .value .king svg,
.card.ten .value .ten svg,
.card.nine .value .nine svg,
.card.eight .value .eight svg,
.card.seven .value .seven svg,
.card.six .value .six svg,
.card.five .value .five svg,
.card.four .value .four svg,
.card.three .value .three svg,
.card.two .value .two svg {
  display: block;
}

.card.ace .middle .ace svg,
.card.jack .middle .jack svg,
.card.queen .middle .queen svg,
.card.king .middle .king svg,
.card.ten .middle .ten svg,
.card.nine .middle .nine svg,
.card.eight .middle .eight svg,
.card.seven .middle .seven svg,
.card.six .middle .six svg,
.card.five .middle .five svg,
.card.four .middle .four svg,
.card.three .middle .three svg,
.card.two .middle .two svg {
  display: block;
}

.suit svg,
.value svg {
  fill: black;
}

.red .suit svg,
.red .value svg,
.red .middle svg {
  fill: red;
}

.red .middle .big_pic.king svg,
.red .middle .big_pic.queen svg,
.red .middle .big_pic.jack svg {
  stroke: red;
}

.board div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.me, .main, .opponent {
  height: 33%;
  width: 100%;
}

.game {
  width: 70%;
  height: 100%;
}

.trump, .left {
  width: 15%;
  height: 100%;
}

.button {
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  padding-left: 4vw;
  padding-right: 4vw;
  color: white;
  font-size: 2vw;
  border-radius: 2vw;
  position: absolute;
  top: 1vw;
  right: 1vw;
  z-index: 1;
}

.take {
  background-color: #990f02;
  display: none;
}

.done {
  background-color: #5dbb63;
  display: none;
}

.card.back .body svg rect.pattern {
  fill: url(#img1);
}

.card.back pattern path {
  fill: red;
}

.card.back .suit,
.card.back .value,
.card.back .middle {
  display: none;
}

.compact .card {
  margin-left:calc((var(--card_size)*-0.4));
  left: calc(var(--card_size)*0.09);
}
